* {
  font-size: 16px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

.container {
  position: relative;
  margin: 3rem auto 0;
  box-shadow: 0 0px 5.3px rgba(0, 0, 0, 0.044),
    0 0px 17.9px rgba(0, 0, 0, 0.066), 0 0px 80px rgba(0, 0, 0, 0.11);
  border-radius: 1rem;
  width: 280px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.new-task-form {
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 1rem 1rem 0.5rem;
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.05);
}

.new-task-form__submit-button {
  background: rgb(0, 183, 255);
  color: white;
  border: none;
  padding: 0.3rem;
  border-radius: 3px;
}

.new-task-form input {
  border: 1px solid rgb(214, 214, 214);
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  padding: 6px;
  outline: none;
}

.new-task-form {
  border: 1px solid rgb(214, 214, 214);
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  padding: 6px;
  outline: none;
}

.task {
  border-bottom: 1px solid rgb(197, 197, 197);
  padding: 0.5rem 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__label {
  flex-grow: 1;
  padding: 0 1rem;
}

.task--completed > * {
  opacity: 0.5;
}

.task--completed .task__complete-button {
  background: rgb(196, 196, 196);
}

.task__complete-button {
  border: 1px solid rgb(131, 131, 131);
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  background: none;
}

.task__controls {
  display: flex;
  flex-direction: column;
}
.task__delete-button {
  border: none;
  height: 1.2rem;
  width: 1.2rem;
  background: none;
  cursor: pointer;
  padding: 0;
}

.new-task-form__error-messages {
  margin: 0 auto 1rem;
  width: 100%;
}

.new-task-form__error-messages li {
  font-size: 10px;
  color: rgb(218, 0, 0);
}
